<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="myBatis.model.Machine" alias="Machine"/>
        <typeAlias type="myBatis.model.Weight" alias="Weight"/>
        <typeAlias type="myBatis.model.Zone" alias="Zone"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="GymDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="myBatisXml/MachineMapper.xml"/>
        <mapper resource="myBatisXml/WeightMapper.xml"/>
        <mapper resource="myBatisXml/ZoneMapper.xml"/>
    </mappers>
</configuration>
